.top_bg{
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    padding: 1.5rem/* 24px */;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    overflow: hidden;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (prefers-color-scheme: dark) {
    .top_bg {
        --tw-text-opacity: 1;
        color: rgb(243 244 246 / var(--tw-text-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(31 41 55 / var(--tw-bg-opacity));

    }
}

@media (min-width: 640px) {
    .top_bg {
        border-radius: 0.5rem/* 8px */;
    }
}